---
import LinkItems from '@/lib/LinkItems'
import HomeIcon from '@/icons/home.astro'
import AboutIcon from '@/icons/about.astro'
import BookIcon from '@/icons/book.astro'
---

<div
  class="flex flex-col gap-1 card bg-white p-2 shadow-xl hover:shadow-none transition-shadow duration-500"
>
  {
    LinkItems.map((item) => (
      <a
        href={item.href}
        class="flex flex-row items-center gap-2 p-2 hover:bg-slate-400 rounded-badge"
      >
        <div>
          {item.icon === 'home' && <HomeIcon />}
          {item.icon === 'about' && <AboutIcon />}
          {item.icon === 'book' && <BookIcon />}
        </div>

        <div class="text-lg font-bold">{item.title}</div>
      </a>
    ))
  }
</div>
