---
type Props = {
  title: string;
  text: string;
  link: string;
};
const { title, text, link } = Astro.props;
---

<a
  class="card rounded-box flex flex-col justify-start w-[40%] p-2 shadow-xl hover:shadow-none transition-shadow duration-700"
  href={link}
  ><div class="uppercase font-extrabold text-4xl p-2">
    {title}
  </div>

  <div class="p-3 text-2xl">
    {text}
  </div>
</a>
