---
import { Image } from 'astro:assets'
---

<div class="avatar w-full h-full lg:p-2">
  <Image
    class="rounded-full w-full h-full"
    src="/default_avater.png"
    alt="avatar"
    width={40}
    height={40}
  />
</div>
