---
import { Image } from 'astro:assets'
---

<div class="avatar pt-5 pb-5">
  <Image
    class="rounded-full"
    src="/default_avater.png"
    alt="avatar"
    width={32}
    height={24}
  />
</div>
