<div tabindex="2" class="collapse">
  <div class="collapse-title text-2xl ralative pr-0">Hi there!</div>
  <div class="collapse-content text-xl ralative pr-1">
    还有很多功能没写:暗色模式，目录...
  </div>
</div>
