---
import AvaterItem from './AvaterItem.astro'
import DescriptionItem from './DescriptionItem.astro'
---

<div class="p-2 flex flex-col items-center justify-center">
  <AvaterItem />
  <DescriptionItem />
</div>
