---
import ProfileCard from '@/components/menu/ProfileCard/ProfileCard.astro'
import MenuCard from '@/components/menu/MenuCard/MenuCard.astro'
---

<div
  class="bg-white shadow-2xl rounded-badge
      flex-col mt-2 mb-3 mr-5
      p-4"
>
  <ProfileCard />
  <MenuCard />
</div>
