---
import ProfileCard from '@/components/menu/ProfileCard/ProfileCard.astro'
import MenuCard from '@/components/menu/MenuCard/MenuCard.astro'
---

<div class="flex flex-col gap-5">
  <ProfileCard />
  <MenuCard />
</div>
