---
import Navbar from "@/components/menu/NavBar/NavBar.astro";
---

<div class="max-w-svh m-auto max-h-full h-full">
  <div
    class="lg:grid grid-cols-1 lg:grid-cols-8 lg:p-8 gap-5 w-full lg:h-svh sm:flex flex-col"
  >
    <div class="hidden lg:block col-span-1 col-start-2">
      <slot name="menu" slot="menu" />
    </div>
    <div class="block lg:hidden">
      <Navbar />
    </div>
    <div class="lg:col-span-5 h-full rounded-3xl">
      <main>
        <slot name="content" />
        <slot name="comment" />
      </main>
    </div>
  </div>
</div>
