---
import PageLayout from './PageLayout.astro'
import MenuLayout from './MenuLayout.astro'
import '@/styles/global.scss'
const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
  </head>
  <body class="max-w-svh max-h-svh lg:overflow-hidden">
    <PageLayout>
      <MenuLayout slot="menu" />
      <slot
        name="content"
        slot="content"
      />
      <slot
        name="comment"
        slot="comment"
      />
    </PageLayout>
  </body>
</html>
